.wrap{
    display:flex;
    width:100vw;
    /* border:1px solid blue; */
}

#left-box {
    border:1px solid red;
    height:100vh;
}

.right-box {
    position:absolute;
    left: 50vw;
    /* border:1px solid red; */
    border-radius: 1%;
    width:48vw;
    height:100vh;
}
/* .left-box{
    height: 100vh;
    width: 50vw;
    background-color: white;
    overflow: auto;
    border:1px solid red;
    border-radius: 1%;
    position:absolute;
    float:right;
}

.right-box{
    height: 100vh;
    width: 50vw;
    background-color: white;
    overflow: auto;
    border:1px solid red;
    border-radius: 1%;
    position:absolute;
    float:right;
} */

/* div.box {
    border-color: ;
} */