.navbar {
  width: 100%;
  height: 3rem;
  background-color: rgb(15, 32, 129);
  /* padding: 0 8.33%; */
  margin-bottom: 2rem;
  box-shadow: 0 2.5px 5px 0 rgba(0,0,0,1);
}

#navbar-icon-title {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  /* border: 1px rgb(94, 99, 94) solid;    */
  position: absolute;
}

#navbar-sepicker {
  color: #fdca52;
  left: 0;
  padding-left: 2%;
  /* border: solid red 1px; */
  font-size: 2rem;
}

.navbar nav {
  position: absolute;
  right: 1vw;
  height: 100%;
  display: flex;
}


.navbar ul {
  right: 0%;
  top: 0%;
  height: 3rem;
  padding: 0 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* background-color: cadetblue; */
  /* list-style: none;
  display: flex;
  padding: 0 0%;
  margin: 0;
  align-items: center;
  justify-content: center; */
}

.navbar li {
  margin: 0 0.5rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  /* border: red solid 1px; */
}

.navbar a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}